@using QuizArena.Models
@model IList<Question>
@{
    ViewBag.Title = "FullTest";
}

<h2>FullTest</h2>

@if (Model != null && Model.Any())
{
    foreach (var question in Model)
    {
        @Html.Action("DisplayQuestion", "Home", new { q = question })

    }
}