@using QuizArena.Models
@model IList<Question>
@{
    ViewBag.Title = "FullTest";
}

<h2>FullTest</h2>

@if (Model != null && Model.Any())
{
    foreach (var question in Model)
    {
        <p>Id: @question.Id</p>
        <p>Condition: @question.Condition</p>

   //     foreach (var answer in question.Incorrects)
   //     {
   //         <a href="#" class="incorrect">@answer.Text</a>
   //     }
   // @Html.ActionLink(question.CorrectAnswer, "CorrectAnswer", "Home", new { id = question.Id }, new { @class = "correct-answer"})
    }
}